subject = "Your account has been confirmed!"
description = "User confirmed their account"
==
Hello {{ name }}

We acknowledge receipt of your resume and application for a position at AAExchange and sincerely appreciate your interest in our company.

We will screen all applicants and select candidates whose qualifications seem to meet our needs. We will carefully consider your application during the initial screening and will contact you if you are selected to continue in the recruitment process. We wish you every success.



<p><b>Thanks</b></p>
<p><b>AAExchange</b></p>
Islamabad
